#head{
	padding-bottom : 10px;
	padding-left : 10px;
	padding-right : 10px;
}

.title{
	font-style: italic;
	font-family: Times New Roman;
	font-weight: bold;
	font-size : 24px;
	color : #FF0000;
}

#left{
	float : left;
	width : 160px;
	height : auto;
}

.tab{
	font-family: Times New Roman;
	font-weight: lighter;
}

.tab ul{
	list-style : none;
	background : white;
	border-bottom : 1px solid #999;
	padding : 3px 0px 3px 0px;
}

.tab ul li{
	display : inline;
}

.tab ul li a:link, .tab ul li a:visited{
	background : white;
	padding : 3px 10px 3px 10px;
	border : 1px solid #999;
}

.tab ul li a:hover{
	background : #808080;
}

.tab ul li a.here{
	background : #f2f2f2;
	padding : 3px 10px 3px 10px;
	border-top : 1px solid #999;
	border-left : 1px solid #999;
	border-right : 1px solid #999;
	border-bottom : 1px solid #f2f2f2;
}

.tab ul li a.here:hover{
	background : #f2f2f2;
}

#main{
	float : left;
	width : 600px;
	height : 360px;
}

#map{
	width : 100%;
	height : 100%;
	border : 1px solid #efefef;
}

#chart{
	width : 100%;
	height : 100%;
	border : 1px solid #efefef;
}

#foot{
	float : left;
	width : 100%;
	padding-top : 5px;
	text-align: center;
	font-family: Times New Roman;
	font-weight: lighter;
}