/*#: id选择器*/
#user{
	text-align: center;/*文本的水平对齐方式*/
	font-family: Times New Roman;/*字体系列*/
}

#favInfo{
	text-align: center;/*文本的水平对齐方式*/
	font-family: Times New Roman;/*字体系列*/
}

#lanOption{
	position: absolute;
	right: 10px;
	text-align: center;
}

#upperRightMenu{
	position: absolute;
	top: 20px;
	right: 10px;
	text-align: center;
	font-family: Times New Roman;
	z-index: 100;/*z-index:	元素的堆叠顺序,拥有更高堆叠顺序的元素总是会处于堆叠顺序较低的元素的前面;z-index仅能在定位元素上奏效(e.g. position:absolute)*/
}

#upperRightMenu a{
	padding: 0 5px;/*padding: 内边距	顺序: 上 右 下 左*/
}

#extraMenu{
	position: absolute;
	border: 1px solid #efefef;
	background-color: white;
}

#extendedFav{
	position: absolute;
	border: 1px solid #efefef;
	background-color: white;
}

#header{
	vertical-align: top;/*垂直对齐方式	top: 把元素的顶端与行中最高元素的顶端对齐*/
	font-family: Times New Roman;
	padding-bottom : 5px;
	padding-left : 10px;
	padding-right : 10px;
}

#footer{
	position: absolute;
	float: left;
	width: 100%;
	padding-top: 5px;
	text-align: center;
	font-family: Times New Roman;
	font-weight: lighter;
	color: #cccccc;
}

/*.: class选择器*/
.title{
	font-style: italic;/*字体样式	italic: 斜体*/
	font-weight: bold;/*字体粗细*/
	font-size : 36px;/*字体大小*/
	color : #8B0000;/*#8B0000: darkred*/
}

.option{
	position: absolute;/*父div的position是一定要指定的,不然子div的position: absolute就会相对于整个文档定位了,而不是相对于父div定位*/
	left: 20px;
	height: 400px;
	width: 175px;
	border: 1px solid #000000;/*#000000: black*/
	font-size: 16px;
	font-family: Times New Roman;
}

.select{
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	text-align: center;
}

.view{
	position: absolute;
	left: 200px;
	border: 1px solid #8B0000;
	text-align: center;
	font-family: Times New Roman;
	font-size: 16px;
}

.view_ds{
	border: 1px solid #808080;/*#808080: gray*/
	height: 246px;
	margin: 2px;
}

.view_chart{
	float: left;
	position: relative;
	height: 240px;
	width: 300px;
	margin: 2px;
	border: 1px solid #8B0000;
}

.chartContainer{
	position: absolute;
	height: 240px;
	width: 270px;
}

.favorite{
	position: absolute;
	left: 20px;
	font-size: 16px;
	font-family: Times New Roman;
	text-align: center;
}

a{
	text-decoration: underline;/*添加到文本的修饰*/
}

/*a:link 未访问的链接
a:visited 已访问的链接
a:hover 鼠标悬停在链接上*/
a:link,a:visited{
	color: #000000;
}

a:hover{
	color: #008000;/*#008000: green*/
}