a{
	text-decoration: none;/*添加到文本的修饰*/
}

a:link,a:visited{
	color: #000000;
}

a:hover{
	color: #008000;/*#008000: green*/
}

#upperRightMenu{
	width: 100%;
	height: 100%;
	text-align: center;
	font-family: Times New Roman;
}

#upperRightMenu a{
	margin: 0 5px;
}

#lanOption{
	float: right;
	margin: 0 5px;
}

#userInfo{
	float: right;
}

#extraMenu,#extendedFav{
	position: absolute;
	top: 30px;
	border: 1px solid #efefef;
	background-color: white;
	z-index: 100;
}

#header{
	width: 100%;
	font-family: Times New Roman;
	background-image: url(images/world_842x178.png),url(images/city_854x252.png),url(images/pie_187x201.png),
		url(images/line_255x179.png),url(images/column_295x181.png),url(images/background.jpg);
	background-repeat: no-repeat;
	background-size: contain,contain,contain,contain,contain,cover;
}

.title{
	margin-left: 20px;
	font-style: italic;/*字体样式	italic: 斜体*/
	font-weight: bold;/*字体粗细*/
	font-size: 36px;/*字体大小*/
	color: #8B0000;/*#8B0000: darkred*/
}

.option{
	position: absolute;/*父div的position是一定要指定的,不然子div的position: absolute就会相对于整个文档定位了,而不是相对于父div定位*/
	left: 20px;
	font-size: 16px;
	font-family: Times New Roman;
}

.select{
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
}

.dvTitle,.dsTitle{
	border-bottom: 1px solid white;
	padding: 5px;
	background-color: gray;
	color: white;
	text-align: center;
}

.dataview,.dataset{
	border-bottom: 1px solid white;
	padding: 5px;
	background-color: gray;
}

.dataview a,.dataset a{
	color: white;
	text-decoration: none;
}

.view{
	position: absolute;
	text-align: center;
	font-family: Times New Roman;
	font-size: 16px;
}

.view_ds{
	border: 1px solid #808080;/*#808080: gray*/
	height: 246px;
	margin-bottom: 2px;
}

.view_chart{
	position: relative;
	float: left;
	width: 300px;
	height: 240px;
	margin: 2px;
	border: 1px solid #8B0000;
	background-color: white;
}

.chartContainer{
	position: absolute;
	height: 240px;
	width: 270px;
}

#tabBar_bg{
	width: 100%;
	background-image: url(images/background.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

#tab_bg{
	width: 100%;
	background-image: url(images/background.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

#footer{
	width: 100%;
	text-align: center;
	font-family: Times New Roman;
	font-weight: lighter;
	color: #cccccc;
}

.favorite{
	position: absolute;
	left: 20px;
	font-size: 16px;
	font-family: Times New Roman;
	text-align: center;
}


#user{
	text-align: center;/*文本的水平对齐方式*/
	font-family: Times New Roman;/*字体系列*/
	display: none;
}

#favInfo{
	text-align: center;/*文本的水平对齐方式*/
	font-family: Times New Roman;/*字体系列*/
}